
  .RadioButtonQuestion{
    font-size: calc(10px + 1vmin);
  }


.RadioButtonQuestion-radioButton{
  display: flex;
  align-items: center;
  margin-left: 200px;

  }

 .RadioButtonQuestion-Label{
    margin-left: 5px;
  
    }
  
