
.App {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  margin-top: 15px;

}

.App-QuestionBody{
  width: 80%;
  height: 100%;
  border: .5px solid white;
}


.App-link {
  color: #61dafb;
}


