
.App {  
  height: 1350px;
  background-color: LemonChiffon ;
  --background: url("./Images/farm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.App-QuestionBody{
  width: 80%;
  height: 100%;
  border: .5px solid white;
}


.App-link {
  color: #03090a;
}


